# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Session file
*.session

# Database file
*.db

# Log files
*.log

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db